<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="guidemeContext" connectionString="Data Source=LAPTOPDOMOWY\SQLEXPRESS,1433;Initial Catalog=guideme;Persist Security Info=True;User ID=bb879909dj;Password=zajac1984;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>