@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title</h2>

<p>We are small company working on new application eGuideMe.
   If you are interesting in please do not hesitate and send us your opinion.<br/>
    
    <img src="~/Images/logo_no_icon.png" alt="GuideMe"/><br/>
    Bielicka 14/13<br />
    85-135 Bydgoszcz<br />
    <a href="mailto:contact@eguideme.pl">contact@eguideme.pl</a>
    </p>
