@{
    ViewBag.Title = "Main menu";
}
<div class="jumbotron">
    <h1>
        <img src="~/Images/restaurant_icon.png" alt="Restaurant" style="margin-right:20px; margin-top:-10px;" />Guide me to the restaurant menu</h1>
    <p class="lead" style="margin-left:100px">Quickly find your favourite dish nearly you or just look for some briliant events</p>
    <center><p><input type="text" size="45" onfocus="this.value = ''; this.style.color = 'black';" value="Restaurant name" style="color:gray; font-size:12pt; height:35px; padding:3px;" /><a class="btn btn-primary" href="/Menu/Underdevelopment" style="margin-left:10px;margin-top:-5px;">Go &raquo;</a></p></center>
    
</div>

<div class="row">
    <label id="id"/>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Restaurants menu are available from scratch just for you. Place it and find your favourite restaurant. Choose your best dish and call to book one.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Menu</h2>
        <p>Restaurants, bars, pubs and any other menu providers upload theirs menus and you can easily go through all dishes and find your favourite.</p>
    </div>
    <div class="col-md-4">
        <h2>Events</h2>
        <p>Is it a party time? Look for some events? Keep going and find your favourite using GuideMe.pl</p>
    </div>
</div>